{% extends 'base.html.twig' %}
{% block content %}
            <!-- Section Title -->
            <section class="section-title img-news">
                <div class="overlay-bg"></div>
                <div class="container">
                    <h1>Neuigkeiten</h1>
                </div>
            </section>
            <!-- End Section Title -->

            <!-- Section Area - Content Central -->
            <section class="content-info">

                <div class="crumbs">
                    <div class="container">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>/</li>
                            <li>Neuigkeiten</li>
                        </ul>
                    </div>
                </div>

                <div class="semiboxshadow text-center">
                    <img src="/img/img-theme/shp.png" class="img-responsive" alt="">
                </div>

                <!-- Content Central -->
                <div class="container padding-top">
                    <div class="row">

                        <!-- content Column Left -->
                        <div class="col-xs-12 col-md-6 col-lg-7">                     
                            <!-- Recent Post -->
                            <div class="panel-box">
                            
                                <div class="titles">
                                    <h4>Neuigkeiten</h4>
                                </div>
                                {% for post in posts %}
                                <!-- Post Item -->
                                <div class="post-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-hover">
                                               <img src="{{post.guid}}" alt="" class="img-responsive">
                                               <div class="overlay"><a href="/neuigkeiten/{{post.id}}-{{post.postTitle|slugify}}">+</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h4><a href="/neuigkeiten/{{post.id}}-{{post.postTitle|slugify}}">{{post.postTitle}}</a></h4>
                                            <p class="data-info">{{post.postDateGmt.date|date('d M Y')}}</p>
                                            <p>{{post.postContent| truncate(150) }} <a href="/neuigkeiten/{{post.id}}-{{post.postTitle|slugify}}">Mehr lesen [+]</a></p>                                            
                                        </div>
                                   </div>
                                </div>
                                 <!-- End Post Item -->
                                {% endfor %}

                            </div>  
                            <!-- End Recent Post --> 
                            <!-- Pagination -->
                           {% if totalpages > 1 %} 
                            <ul class="pagination no-margin">
                                <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all) ) }}">«</a></li>

                                {% set pageIt = app.request.get('p') - 3 %}
                                {% set pageItBase = 1 %}
                                {% set maxPage = 5 %}
                                {% if totalpages < 5 %}
                                {% set maxPage = totalpages %}
                                {% endif %}
                                {% for i in range(1, maxPage) %} 
                                {% if app.request.get('p') <= 3%}
                                {% set pageItBase = i %}
                                <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'p': pageItBase})) }}">{{pageItBase}}</a></li>
                                {% endif %}
                                {% if app.request.get('p') >= 4 and pageIt < totalpages%}
                                    {% set pageIt = (pageIt + 1) %}
                                <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'p': pageIt})) }}">{{pageIt}}</a></li>
                                {% endif %}
                                {% endfor %}
                                <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'p': totalpages})) }}">»</a></li>
                            </ul>
                            {% endif %} 
                            <!-- End Pagination -->
                        </div>
                         <!-- End content Left -->
                        <!-- content Sidebar Center -->
                        <aside class="col-md-4">                     
                            
                            <div>
                                <h4> Suchen</h4>
                                <form class="search" action="/neuigkeiten" method="get">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Suche..." name="q"  type="text" required="required">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit">Go!</button>
                                        </span>
                                    </div>
                                </form>   
                            </div>

                            <!-- Video presentation -->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Anzeige</h4>
                                </div>
                                <!-- Locations Video --> 
                                <div class="row">
                                    <iframe src="http://www.youtube.com/embed/l12OhR6nxiM" class="video"></iframe>
                                    <div class="col-md-12">
                                        <h4>Rio de Janeiro</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris.</p>
                                    </div>
                                </div>
                                <!-- End Locations Video --> 
                            </div>  
                            <!-- End Video presentation-->

                            <!-- Widget Categories-->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Kategorien</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="list">
                                            <li><i class="fa fa-check"></i><a href="#">Design</a></li>
                                            <li><i class="fa fa-check"></i><a href="#">Photos</a></li>
                                            <li><i class="fa fa-check"></i><a href="#">Videos</a></li>
                                            <li><i class="fa fa-check"></i><a href="#">Lifestyle</a></li>
                                            <li><i class="fa fa-check"></i><a href="#">Technology</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>  
                            <!-- End Widget Categories-->  

                            <!-- Widget Text-->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Widget Text</h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore.</p>
                                    </div>
                                </div>
                            </div>  
                            <!-- End Widget Text-->
                        </aside>
                        <!-- End content Sidebar Center -->
                    </div>                     
                </div>  
                <!-- End Content Central -->

{% endblock %}