{% extends 'base.html.twig' %}
{% block content %}
            <!-- Section Title -->
            <section class="section-title img-news">
                <div class="overlay-bg"></div>
                <div class="container">
                    <h1>{{post.postTitle}}</h1>
                </div>
            </section>
            <!-- End Section Title -->

            <!-- Section Area - Content Central -->
            <section class="content-info">

                <div class="crumbs">
                    <div class="container">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li>/</li>
                            <li><a href="/neuigkeiten">Neuigkeiten</a></li>
                            <li>/</li>
                            <li>{{post.PostTitle}}</li>
                        </ul>
                    </div>
                </div>

                <div class="semiboxshadow text-center">
                    <img src="/img/img-theme/shp.png" class="img-responsive" alt="">
                </div>

                <!-- Content Central -->
                <div class="container padding-top">
                    <div class="row">

                        <!-- content Column Left -->
                        <div class="col-md-8">
                            <!-- Single Post -->
                            <div class="panel-box">

                                <!-- Title Post -->
                                <div class="titles">
                                    <h4>{{post.PostTitle}}</h4>
                                </div>
                                <!-- Title Post -->

                                <!-- Post Item -->
                                <div class="post-item single-news">
                                    <div class="row">
                                        <!-- Image Post -->
                                        <div class="col-md-12">
                                            <p class="data-info">{{post.postDate.date|date('d M Y')}}</p>
                                            <!-- Post image-->
                                            <div>
                                                  <img class="img-responsive" src="/img/blog/3.jpg">
                                            </div>
                                            <!-- End Post image-->
                                        </div>
                                        <!-- End Image Post -->
                                        <!-- Info Post -->
                                        <div class="col-md-12 padding-top-mini">
                                            {{post.postContent|raw}}
                                        </div>
                                        <!-- End Info Post -->
                                   </div>
                                </div>
                                 <!-- End Post Item -->
                            </div>
                            <!-- End Single Post -->

                        </div>
                         <!-- End content Left -->
                        <!-- content Sidebar Center -->
                        <aside class="col-md-4">                     

                            <!-- Video presentation -->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Anzeige</h4>
                                </div>
                                <!-- Locations Video --> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- tb sidebar -->
                                        <ins class="adsbygoogle"
                                             style="display:block"
                                             data-ad-client="ca-pub-7481436394695644"
                                             data-ad-slot="6533774619"
                                             data-ad-format="auto"></ins>
                                        <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </div>
                                </div>
                                <!-- End Locations Video --> 
                            </div>  
                            <!-- End Video presentation-->

                        </aside>
                        <!-- End content Sidebar Center -->
                    </div>                     
                </div>  
                <!-- End Content Central -->
{% endblock %}