<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <title>TeamBonus - Shop for your Team</title>
        <meta name="keywords" content="Teambonus Cashback sponsor mannschaft verein suche team bonus equipo online shop" />
        <meta name="description" content="TeamBonus hilft dir deine Mannschaftskasse zu füllen. Durch jeden Einkauf über Teambonus.de erhält deine Mannschaft einen Bonus. So braucht ihr keinen Sponsor mehr.">
        <meta name="author" content="teambonus Roy Brannath">  

        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Theme CSS -->
        <link href="/css/style.css" rel="stylesheet" media="screen">
        <!-- Responsive CSS -->
        <link href="/css/theme-responsive.css" rel="stylesheet" media="screen">
        <!-- Skins Theme -->
        <link href="#" rel="stylesheet" media="screen" class="skin">

        <!-- Favicons -->
        <link rel="shortcut icon" href="/img/icons/favicon.ico">
        <link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png">  

        <!-- Head Libs -->
        <script src="/js/modernizr.js"></script>

        <!--[if IE]>
            <link rel="stylesheet" href="css/ie/ie.css">
        <![endif]-->

        <!--[if lte IE 8]>
            <script src="/js/responsive/html5shiv.js"></script>
            <script src="/js/responsive/respond.js"></script>
        <![endif]-->

        <!-- Skins Changer-->
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    </head>

    <body>

        <!-- layout-->
        <div id="layout">
            <!-- Header-->
            <header>
                <!-- End headerbox-->
                <div class="headerbox">
                    <div class="container">
                        <div class="row">
                            <!-- Logo-->
                            <div class="col-md-3 logo">
                                <a href="/" title="Return Home">                            
                                    <img src="/img/logo.png" alt="Logo" class="logo_img">
                                </a>
                            </div>
                            <!-- End Logo-->

                            <!-- Adds Header-->
                            <div class="col-md-9 adds">
                                <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- HeaderAd -->
                                <ins class="adsbygoogle"
                                     style="display:inline-block;width:728px;height:90px"
                                     data-ad-client="ca-pub-7481436394695644"
                                     data-ad-slot="4347315814"></ins>
                                <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                            <!-- End Adds Header-->
                        </div>
                    </div>
                </div>
                <!-- End headerbox-->  

                <!-- mainmenu-->
                <nav class="mainmenu">
                    <div class="container">
                        <!-- Menu-->
                        <ul class="sf-menu" id="menu">
                            <li class="selected">
                                <a href="/">Home</a>
                            </li>                                
                            <li class="current">
                                <a href="#">Shops</a>
                                <ul class="sub-current">
                                    <li>
                                        <a href="/shops">Shops</a>
                                    </li>
                                    <li>
                                        <a href="/neuer-shop">Neuer Shop</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="current">
                                <a href="#">Vereine</a>
                                <ul class="sub-current">
                                    <li>
                                        <a href="/vereine">Vereine</a>
                                    </li>
                                    <li>
                                        <a href="/neuer-verein">Neuer Verein</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Sponsoring</a>
                                <div class="sf-mega">
                                    <div class="col-md-3">
                                        <h4>Sponsoren</h4>
                                        <ul>                                                
                                            <li><a href="/sponsoren/regionale-sponsoren">Regionale Sponsoren</a></li>
                                            <li><a href="/sponsoren/nationale-sponsoren">Nationale Sponsoren</a></li>
                                            <li><a href="sports.html">Bmx</a></li>
                                            <li><a href="sports.html">Skater</a></li>
                                        </ul>
                                    </div>

                                    <div class="col-md-3">
                                      <h4>Club Teams</h4>
                                      <div class="img-hover">
                                         <img src="/img/blog/1.jpg" alt="" class="img-responsive">
                                         <div class="overlay"><a href="sports.html">+</a></div>
                                      </div>
                                    </div>

                                    <div class="col-md-3">
                                      <h4>Players And Staff</h4>
                                      <div class="img-hover">
                                         <img src="/img/blog/2.jpg" alt="" class="img-responsive">
                                         <div class="overlay"><a href="sports.html">+</a></div>
                                      </div>
                                    </div>

                                    <div class="col-md-3">
                                      <h4>Locations</h4>
                                      <div class="img-hover">
                                         <img src="img/blog/3.jpg" alt="" class="img-responsive">
                                         <div class="overlay"><a href="sports.html">+</a></div>
                                      </div>
                                    </div>
                                </div>
                            </li>
                            <li class="current">
                                 <a href="/neuigkeiten">News</a>
                            </li>
                            <li>
                                <a href="/kontakt">Kontakt</a>
                            </li> 
                            {% if not is_granted('ROLE_USER') %}
                            <li>
                                <a href="/login">Login</a>
                            </li>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                            <li>
                                <a href="/logout">Logout</a>
                            </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="/admin">Dashboard</a>
                            </li>
                            {% endif %}
                            {% if app.request.cookies.has('teambonus') %}
                            <li>
                                <a href="/team/{{ app.request.cookies.get('teambonus') }}-{{ app.request.cookies.get('teambonusClub')|slugify }}-{{ app.request.cookies.get('teambonusTeam') }}">{{ app.request.cookies.get('teambonusClub')}} - {{ app.request.cookies.get('teambonusTeam') }}</a>
                            </li>
                            {% endif %}
                        </ul>
                        <!-- End Menu-->
                    </div>
                </nav>
                <!-- End mainmenu-->
            </header>
            <!-- End Header-->
            {% block content %}
            <!-- Slide -->           
            <section class="camera_wrap camera_white_skin" id="slide">
                <!-- Item Slide - Caption --> 
                <div  data-src="/img/slide/slides/1.jpg">
                    <div class="style-caption fadeFromTop">
                        <div class="overlay-bg"></div>
                         <div class="container"> 
                            <div class="row">
                                <div class="col-md-7">
                                    <h1 class="animated fadeInRight">
                                        Sponsore dein Team
                                    </h1>   
                                    <p class="animated fadeInRight delay1">Nutze die Kaufkraft deiner Mannschaft und der Fans, um die Mannschaftskasse zu füllen.</p> 
                                    <div class="more animated fadeInRight delay2">
                                        <a href="/team-sponsern" class="btn btn-primary" name="subscribe" >Mehr erfahren</a>
                                    </div>
                                </div>    
                            </div>                     
                        </div>      
                    </div>
                </div>
                <!-- End Item Slide - Caption  -->

                <!-- Item Slide - Caption --> 
                <div  data-src="/img/slide/slides/2.jpg">
                    <div class="style-caption fadeFromTop">
                        <div class="overlay-bg"></div>
                         <div class="container"> 
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="animated fadeInRight">
                                        Unterstütze dein Team!
                                    </h1>   
                                    <p class="animated fadeInRight delay1">Durch jeden Einkauf erhält deine Mannschaft einen Bonus zurück.</p> 
                                    <div class="more animated fadeInRight delay2">
                                        <a href="/bonus-erhalten" class="btn btn-primary" name="subscribe" >Mehr erfahren</a>
                                    </div>
                                </div>    
                            </div>                     
                        </div>      
                    </div>
                </div>
                <!-- End Item Slide - Caption  -->

            </section>   
            <!-- End Slide --> 

            <!-- Section Area - Content Central -->
            <section class="content-info">

                <div class="semiboxshadow text-center">
                    <img src="/img/img-theme/shp.png" class="img-responsive" alt="">
                </div>
                
                <!-- Dark Home -->
                <div class="bg-dark dark-home">
                    <div class="row">
                        <!-- Left Content - Tabs and Carousel -->
                        <div class="col-md-9">
                            <!-- Nav Tabs -->
                            <ul class="nav nav-tabs" id="myTab">
                               <li class="active"><a href="#feature-news" data-toggle="tab">Wie funktioniert TeamBonus?</a></li>
                            </ul>
                            <!-- End Nav Tabs -->

                            <!-- Content Tabs -->
                            <div class="tab-content">
                                <!-- Tab One - Feature News -->
                                <div class="tab-pane active" id="feature-news">
                                    <!-- blog post-->  
                                    <ul id="events-carousel" class="events-carousel padding-top">
                                        <!-- Item blog post -->  
                                        <li>
                                            <div class="header-post">
                                                <a href="/vereine"><img src="/img/clubs-team/1.jpg" alt=""></a>
                                                <div class="meta-tag">
                                                    <ul>
                                                        <li><a href="#">Schritt 1</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="info-post">
                                                <h4><a href="/vereine">Team wählen</a></h4>
                                                <p>Suche nach deinem Verein und deinem Team </p>
                                            </div>
                                        </li>
                                        <!-- End Item blog post -->

                                        <!-- Item blog post -->  
                                        <li>
                                            <div class="header-post">
                                                <a href="/shops"><img src="/img/clubs-team/2.jpg" alt=""></a>
                                                <div class="meta-tag">
                                                    <ul>
                                                        <li><i class="fa fa-user"></i><a href="#">Schritt2</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="info-post">
                                                <h4><a href="/shops">Shop suchen</a></h4>
                                                <p>Gehe auf einen Shop und kaufe ganz normal ein</p>
                                            </div>
                                        </li>
                                        <!-- End Item blog post -->  

                                        <!-- Item blog post -->  
                                        <li>
                                            <div class="header-post">
                                                <a href="/bonus"><img src="/img/clubs-team/3.jpg" alt=""></a>
                                                <div class="meta-tag">
                                                    <ul>
                                                        <li><i class="fa fa-user"></i><a href="#">Schritt 3</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="info-post">
                                                <h4><a href="/bonus">Bonus erhalten</a></h4>
                                                <p>Für jeden Einkauf erhält dein Team einen Bonus zurück!</p>
                                            </div>
                                        </li>
                                        <!-- End Item blog post -->
                                    </ul>
                                    <!-- End blog post-->  
                                </div>
                                <!-- Tab One - Feature News -->
                            </div>
                            <!-- Content Tabs -->
                        </div> 
                        <!-- Left Content - Tabs and Carousel -->    

                        <!-- Right Content - Content Counter -->
                        <div class="col-md-3">
                            <aside>
                                <div class="title-color text-center">
                                    <h4>Europameisterschaft 2016</h4>
                                </div>

                                <div class="content-counter content-counter-home">
                                    <p class="text-center"> 
                                        <i class="fa fa-clock-o"></i> 
                                        Countdown
                                    </p>
                                    <div id="event-one" class="counter"></div>
                                    <ul class="post-options">
                                        <li><i class="fa fa-calendar"></i>10. Juni, 2016</li>
                                        <li><i class="fa fa-clock-o"></i>Anstoß, 15:00 Uhr</li> 
                                    </ul>
                                    <p>Bald ist es wieder soweit. Die EM 2016 findet in diesem Jahr in Frankreich statt. Wir sind gespannt wer dieses Jahr den Titel holen wird.</p>
                                    <a class="btn btn-primary" href="/events/europameisterschaft-2016">
                                        Event anzeigen
                                        <i class="fa fa-trophy"></i>
                                    </a>
                                </div>
                            </aside>            
                            <!-- Content Counter -->
                        </div>
                        <!-- End Right Content - Content Counter -->
                    </div>
                </div>   
                <!-- Dark Home -->

                <!-- Content Central -->
                <div class="container padding-top">
                    <div class="row">
                        
                        <!-- content Column Left -->
                        <div class="col-xs-12 col-md-6 col-lg-7">                     
                            <!-- Recent Post -->
                            <div class="panel-box">
                            
                                <div class="titles">
                                    <h4>Neuigkeiten</h4>
                                </div>
                                {% for post in posts %}
                                <!-- Post Item -->
                                <div class="post-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="img-hover">
                                               <img src="{{post.postMimeType}}" alt="" class="img-responsive">
                                               <div class="overlay"><a href="/neuigkeiten/{{post.id}}-{{post.postTitle|slugify}}">+</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <h4><a href="/neuigkeiten/{{post.id}}-{{post.postTitle|slugify}}">{{post.postTitle}}</a></h4>
                                            <p class="data-info">{{post.postDate.date|date('d M Y')}}</p>
                                            <p>{{post.postContent| truncate(150)|raw }} <a href="/neuigkeiten/{{post.id}}-{{post.postTitle|slugify}}">Mehr lesen [+]</a></p>                                            
                                        </div>
                                   </div>
                                </div>
                                 <!-- End Post Item -->
                                {% endfor %}

                            </div>  
                            <!-- End Recent Post --> 
                            <!-- Pagination -->
                           {% if totalpages > 1 %} 
                            <ul class="pagination no-margin">
                                <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all) ) }}">«</a></li>

                                {% set pageIt = app.request.get('p') - 3 %}
                                {% set pageItBase = 1 %}
                                {% set maxPage = 5 %}
                                {% if totalpages < 5 %}
                                {% set maxPage = totalpages %}
                                {% endif %}
                                {% for i in range(1, maxPage) %} 
                                {% if app.request.get('p') <= 3%}
                                {% set pageItBase = i %}
                                <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'p': pageItBase})) }}">{{pageItBase}}</a></li>
                                {% endif %}
                                {% if app.request.get('p') >= 4 and pageIt < totalpages%}
                                    {% set pageIt = (pageIt + 1) %}
                                <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'p': pageIt})) }}">{{pageIt}}</a></li>
                                {% endif %}
                                {% endfor %}
                                <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({'p': totalpages})) }}">»</a></li>
                            </ul>
                            {% endif %} 
                            <!-- End Pagination -->
                        </div>
                         <!-- End content Left -->

                        <!-- content Sidebar Center -->
                        <aside class="col-xs-12 col-sm-6 col-md-5 col-lg-5">                     
                            <!-- Locations -->
                            <div class="panel-box">
                            
                                <div class="titles">
                                    <h4>Wie funktioniert's?</h4>
                                </div>
                                <div class="row">
                                    
                                </div>    
                                <!-- Locations Carousel -->                            
                            </div>  
                            <!-- End Locations --> 

                            <!-- Video presentation -->
                            <div class="panel-box">
                                <div class="titles">
                                    <h4>Anzeige</h4>
                                </div>
                                <!-- Locations Video --> 
                                <div class="row">
                                    <div class="col-md-12">
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- tb sidebar -->
                                        <ins class="adsbygoogle"
                                             style="display:block"
                                             data-ad-client="ca-pub-7481436394695644"
                                             data-ad-slot="6533774619"
                                             data-ad-format="auto"></ins>
                                        <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </div>
                                </div>
                                <!-- End Locations Video --> 
                            </div>  
                            <!-- End Video presentation-->

                        </aside>
                        <!-- End content Sidebar Center -->

                    </div>                     
                </div>  
                <!-- End Content Central -->
            {% endblock %}
                <!-- Newsletter -->
                <div class="section-wide">
                    <div class="container">
                        <div class="row newsletter">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h2>Trage dich in unseren Newsletter ein und bleibe up2date.</h2>
                                    <p></p>
                                </div>
                                <form id="newsletterForm" action="">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <input class="form-control" placeholder="Dein Name" name="name"  type="text" required="required">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <input class="form-control" placeholder="Deine  Email" name="email"  type="email" required="required">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit" name="subscribe" >Eintragen</button>
                                                 </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>   
                                <div id="result-newsletter"></div>
                            </div>
                        </div>
                    </div>
                </div>  
                <!-- End Newsletter -->  
            </section>
            <!-- End Section Area -  Content Central -->
            <!-- footer-->
            <footer id="footer">
                <div class="container">

                    <!-- Social Icons-->
                    <div class="row">
                        <ul class="social">
                                <li>
                                    <div>
                                        <a href="#" class="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="#" class="twitter-icon">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <a href="#" class="google-plus">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </li> 
                        </ul>
                    </div> 
                    <!-- End Social Icons-->

                </div>
            </footer>      
            <!-- End footer-->

            <!-- footer Down-->
            <div class="footer-down">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <p>&copy; 2016 Teambonus.de - All Rights Reserved.  2015 - 2016</p>
                        </div>
                        <div class="col-md-7">
                            <!-- Nav Footer-->
                            <ul class="nav-footer">
                                <li><a href="/">HOME</a> </li>
                                <li><a href="/shops">SHOPS</a></li>
                                <li><a href="/vereine">VEREINE</a></li> 
                                <li><a href="/news">NEWS</a></li>                
                                <li><a href="/kontakt">KONTAKT</a></li>
                            </ul>
                            <!-- End Nav Footer-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer Down-->

        </div>
        <!-- End layout-->

        <!-- ======================= JQuery libs =========================== -->
        <!-- jQuery local--> 
        <script src="/js/jquery.js"></script>                
        <!--Nav-->
        <script type="text/javascript" src="/js/nav/tinynav.js"></script> 
        <script type="text/javascript" src="/js/nav/hoverIntent.js"></script>   
        <script type="text/javascript" src="/js/nav/superfish.js"></script> 
        <script src="/js/nav/jquery.sticky.js" type="text/javascript"></script>    
        <!--Totop-->
        <script type="text/javascript" src="/js/totop/jquery.ui.totop.js" ></script>  
         <!--Accorodion-->
        <script type="text/javascript" src="/js/accordion/accordion.js" ></script>  
        <!--Slide-->
        <script type="text/javascript" src="/js/slide/camera.js" ></script>      
        <script type='text/javascript' src='/js/slide/jquery.easing.1.3.min.js'></script>   
        <!-- Maps -->
        <script src="/js/maps/gmap3.js"></script>            
        <!--Ligbox--> 
        <script type="text/javascript" src="/js/fancybox/jquery.fancybox.js"></script> 
        <!-- carousel.js-->
        <script src="/js/carousel/carousel.js"></script>
        <!-- Filter -->
        <script src="/js/filters/jquery.isotope.js" type="text/javascript"></script>
        <!-- Twitter Feed-->
        <script src="/js/twitter/jquery.tweet.js"></script> 
        <!-- flickr Feed-->
        <script src="/js/flickr/jflickrfeed.min.js"></script> 
        <!-- Counter -->
        <script src="/js/counter/jquery.countdown.js"></script>      
        <!--Theme Options-->
        <script type="text/javascript" src="/js/theme-options/theme-options.js"></script>
        <script type="text/javascript" src="/js/theme-options/jquery.cookies.js"></script> 
        <!-- Bootstrap.js-->
        <script type="text/javascript" src="/js/bootstrap/bootstrap.js"></script> 
        <!--MAIN FUNCTIONS-->
        <script type="text/javascript" src="/js/main.js"></script>
        <!-- ======================= End JQuery libs =========================== -->
 
    </body>
</html>